@{
    ViewData["Title"] = "Dokumentacja";
}

<div style="text-align: center; padding: 20px;">
    <h1 class="display-4">@ViewData["Title"] - LibraryMan</h1>
    <h2>Autorzy</h2>
    <p>Piotr Waluszek  - email: waluszekp@student.agh.edu.pl</p>

    <h2>Opis</h2>
    <p>LibraryMan to aplikacja internetowa napisana w technologii ASP.NET Core MVC, która umożliwia użytkownikom przeglądanie, recenzowanie i ocenianie różnych książek. Aplikacja korzysta z mechanizmu sesji do zapamiętywania zalogowania użytkowników oraz przechowuje dane w bazie danych SQLite. Hasła użytkowników są przechowywane w postaci skrótu (hashu) dla zwiększenia bezpieczeństwa. Aplikacja oferuje również interfejs REST API do zarządzania danymi.</p>

    <h2>Funkcjonalności</h2>
    <ul style="text-align: left; display: inline-block;">
        <li><b>Rejestracja i logowanie użytkowników:</b> Domyślnie tylko administrator może dodawać nowych użytkowników do bazy. Użytkownicy mogą logować się do aplikacji. Hasła są przechowywane w postaci skrótu (hashu).</li>
        <li><b>Przeglądanie książek:</b> Zalogowani użytkownicy mogą przeglądać listę książek dostępnych w aplikacji. Szczegółowe informacje o każdej książce, takie jak nazwa, gatunek i wydawnictwo.</li>
        <li><b>Recenzje i oceny:</b> Zalogowani użytkownicy mogą dodawać recenzje i oceny do książek. Każda recenzja zawiera komentarz i ocenę (0-10).</li>
        <li><b>Przeglądanie wydawnictw:</b> Informacje o wydawnictwach, takie jak nazwa, miasto i kraj. Powiązanie książek z ich wydawnictwami.</li>
        <li><b>REST API:</b> Możliwość zarządzania wydawnictwami za pomocą REST API przez użytkowników z uprawnieniami administratora. Autoryzacja żądań za pomocą tokenów.</li>
        <li><b>Uprawnienia:</b> Administratorzy mają pełny dostęp do bazy danych i operacji CRUD na wszystkich modelach.</li>
    </ul>

    <h2>Tabele w bazie danych</h2>
    <ul style="text-align: left; display: inline-block;">
        <li><b>Users:</b>
            <ul>
                <li>UserID (int) - klucz główny</li>
                <li>Email (string) - adres e-mail użytkownika</li>
                <li>Password (string) - hasło użytkownika (przechowywane w postaci skrótu)</li>
                <li>IsAdmin (bool) - czy użytkownik jest administratorem</li>
                <li>Token (string) - token do autoryzacji Rest Api</li>
            </ul>
        </li>
        <li><b>Books:</b>
            <ul>                
                <li>BookName (string) - nazwa książki (klucz główny)</li>
                <li>PublisherName (string) - klucz obcy odnoszący się do tabeli Publishers</li>
                <li>Genre (string) - gatunek książki</li>
                <li>AverageRating - średnia ocen</li>
            </ul>
        </li>
        <li><b>Reviews:</b>
            <ul>
                <li>ReviewID (int) - klucz główny</li>
                <li>UserID (int) - klucz obcy odnoszący się do tabeli Users</li>
                <li>BookName (string) - klucz obcy odnoszący się do tabeli Books</li>
                <li>Rating (int) - ocena (1-10)</li>
                <li>Comment (string) - komentarz</li>
                <li>ReviewDate (DateTime) - data wprowadzenia recenzji</li>
            </ul>
        </li>
        <li><b>Publishers:</b>
            <ul>
                <li>PublisherName (string) - nazwa wydawnictwa (klucz główny)</li>
                <li>City (string) - miasto</li>
                <li>Country (string) - kraj</li>
                <li>Founded (int) - rok założenia</li>
                <li>Description (string) - opis wydawnictwa</li>
            </ul>
        </li>
    </ul>

    <h2>Sposób użycia</h2>
    <ol style="text-align: left; display: inline-block;">
        <li><b>Początek:</b> Na początku należy zalogować się jako administrator - (e-mail: admin@libraryman.com, hasło: admin). Po zalogowaniu mamy pełny dostęp. Należy utworzyć nowego użytkownika i się wylogować.</li>
        <li><b>Logowanie:</b> Przejdź do strony logowania i wprowadź swój adres e-mail oraz hasło. Po zalogowaniu będziesz mógł przeglądać książki, wydawnictwa oraz dodawać recenzje do książek.</li>
        <li><b>Dodawanie recenzji:</b> Na stronie katalog książek możesz dodać swoją recenzję, wprowadzając ocenę i komentarz.</li>
        <li><b>REST API:</b> Program konsolowy obsługujący Rest Api znajduje się w osobnym projekcie. Przed uruchomieniem należy wpisać w 2 polach e-mail oraz token konta administratora. Następnie należy uruchomić program. Program obsługuje End Pointy poprzez konsolę i funkcję sterującą. </li>
    </ol>
</div>
